body {
  background-color: beige;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  body, input, button {
    font: 20px "Roboto Condensed";
  }
  
  #top > div {
    display: flex;
    flex-basis: 6vh;
    margin: 2vh;
    justify-content: center;
  }
  
  #top > div > div {
    margin: 0px 2vh;
  }
  
  #results span {
    font-weight: bolder;
  }
  
  #grid {
    margin: 2vh;
    padding: 1vh;
    flex-grow: 1;
    display: grid;
    gap: 1vh;
    
    border: 1px solid grey;
  
    font: 25px "Supermercado One";
  }
  
  #grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: yellowgreen;
  }
  
  #grid > div.selected {
    background-color: hotpink;
    color: navy;
    transition: 0.5s;
    background-image: url(1600016_dae53.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 100%;
  }
  
  #grid > div:hover {
    cursor: pointer;
    box-shadow: 0 0 10px black;
  }

  button{
    border: solid hotpink 2px;
  }

  